@import './main.scss';
$WORKS_BG_COLOR_1: #FDFCFB;
$WORKS_BG_COLOR_2: #E2DBC3;
$WORK_BG: linear-gradient(135deg, $WORKS_BG_COLOR_1, $WORKS_BG_COLOR_2);

#hashtags{
  width: 100vw;
  background: $WORK_BG;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12rem;
  
  .hashtags_container{
    width: 94%;
    .back_to_container{
      position: absolute;
      z-index: 10;
      width: 20rem;
      top: 6%;
      left: 9%;
    }
    .hashtags_contents_container{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .hashtag_index_container{
        width: calc(100vw * .94 * .25);
        height: calc(100vw * .94 * .25 * .75);
        margin: .5rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
  
        .hashtag_index_img_prop{
          object-fit: cover;
          width: 100%;
          height: 100%;
          transition: all .7s cubic-bezier(0.81,-0.01, 0.26, 0.8) !important;
          &:hover{
            transition: all .7s cubic-bezier(0.81,-0.01, 0.26, 0.8) !important;
            opacity: .5;
            transform: scale(1.05);
          }
        }
        .hashtag_index_content_prop{
          // width: 100%;
          // height: 100%;
          color: $COLOR_GRAY;
          font-size: $FONT_15;
        }
      }
    }
  }
}