@import './main.scss';

#hashtag_pad_mobile{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $COLOR_BLACK;
  
  .close_window_container{
    position: absolute;
    top: 1rem;
    width: 88%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0;
    .close_window{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      color: $COLOR_BLACK;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 100px;
      font-size: $FONT_30;
    }
  }
}
