@import './main.scss';

#hashtag_pad{
  width: 100%;
  @include sm(){
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hashtag_pad_container{
    width: 100%;
    @include sm(){
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .hashtag_pad_contents_container{
      width: 100%;
      display: flex;
      flex-direction: row;
      @include sm(){
        justify-content: center;
        align-items: center;
      }
      @include md(){
        justify-content: center;
        align-items: center;
      }
      @include lg(){
        justify-content: unset;
        align-items: unset;
        flex-direction: row;
      }

      .hashtag_index_container{
        width: 10%;
        margin: .1rem;
        opacity: .3;
        transition: opacity .3s ease-in-out;
        &:hover{
          transition: opacity .3s ease-in-out;
          opacity: 1;
        }
        @include sm(){
          opacity: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        @include md(){
          opacity: 1;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        @include lg(){
          opacity: .3;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .hashtag_index_img_prop{
          width: 100%;
          height: 9vh;
          object-fit: cover;
          @include sm(){
            height: 9vh;
          }
          @include md(){
            height: 11vh;
          }
          @include lg(){
            height: 100%;
          }
        }
        .hashtag_index_content_prop{
          width: 100%;
          // height: calc(100vw * .94 * .3 * .8 * .1 *.75);
        }
      }
    }
  }
  
}
